body{
    margin: 0px; 
    padding: 0px; 
    font-family: 'Trebuchet MS',verdana;
}

a:link {
    text-decoration: none;
}

menu {
    list-style-type:none;
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    height:100px;
    background: black;
}